.circle-background,
.health-current,
.health-temp {
    fill: none;
}

.circle-background {
    stroke: #ddd;
}

.health-current {
    stroke: green;
}

.health-temp {
    stroke: blue;
}

.health-text {
    font-size: 3em;
    font-weight: bold;
    fill: green;
}

.health-bloodied { 
    stroke: red;
}

.bloodied {
    fill: red;
}
