.circle-background,
.circle-progress,
.health-temp {
    fill: none;
}

.circle-background {
    stroke: #ddd;
}

.circle-progress {
    stroke: green;
    /* stroke-linecap: round;
    stroke-linejoin: round; */
}

.health-temp {
    stroke: blue;
}

.circle-text {
    font-size: 3em;
    font-weight: bold;
    fill: green;
}

.bloodied { 
    stroke: red;
}